In [9]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_csv('IHME_GBD_2019_CHEWING_TOB_1990_2019_DATA_Y2021M05D27.CSV',encoding='latin1')
df

,measure_id,measure_name,location_id,location_name,sex_id,sex_name,age_group_id,age_group_name,rei_id,rei_name,metric_id,metric_name,year_id,val,upper,lower
0,5,Prevalence,1,Global,1,Male,8,15 to 19,332,Chewing tobacco,3,Rate,1990,0.038740,0.055586,0.027147
1,5,Prevalence,1,Global,2,Female,8,15 to 19,332,Chewing tobacco,3,Rate,1990,0.011356,0.017594,0.007779
2,5,Prevalence,1,Global,1,Male,8,15 to 19,332,Chewing tobacco,3,Rate,1991,0.039253,0.055838,0.027608
3,5,Prevalence,1,Global,2,Female,8,15 to 19,332,Chewing tobacco,3,Rate,1991,0.011516,0.017807,0.007906
4,5,Prevalence,1,Global,1,Male,8,15 to 19,332,Chewing tobacco,3,Rate,1992,0.039863,0.056448,0.027800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350545,5,Prevalence,522,Sudan,3,Both,27,Age standardized,332,Chewing tobacco,3,Rate,2015,0.029518,0.035685,0.024255
350546,5,Prevalence,522,Sudan,3,Both,27,Age standardized,332,Chewing tobacco,3,Rate,2016,0.029855,0.036004,0.024500
350547,5,Prevalence,522,Sudan,3,Both,27,Age standardized,332,Chewing tobacco,3,Rate,2017,0.029768,0.035934,0.024428
350548,5,Prevalence,522,Sudan,3,Both,27,Age standardized,332,Chewing tobacco,3,Rate,2018,0.029760,0.035796,0.024462
350549,5,Prevalence,522,Sudan,3,Both,27,Age standardized,332,Chewing tobacco,3,Rate,2019,0.029752,0.035857,0.024318

In [11]:
df.dropna()

,measure_id,measure_name,location_id,location_name,sex_id,sex_name,age_group_id,age_group_name,rei_id,rei_name,metric_id,metric_name,year_id,val,upper,lower
0,5,Prevalence,1,Global,1,Male,8,15 to 19,332,Chewing tobacco,3,Rate,1990,0.038740,0.055586,0.027147
1,5,Prevalence,1,Global,2,Female,8,15 to 19,332,Chewing tobacco,3,Rate,1990,0.011356,0.017594,0.007779
2,5,Prevalence,1,Global,1,Male,8,15 to 19,332,Chewing tobacco,3,Rate,1991,0.039253,0.055838,0.027608
3,5,Prevalence,1,Global,2,Female,8,15 to 19,332,Chewing tobacco,3,Rate,1991,0.011516,0.017807,0.007906
4,5,Prevalence,1,Global,1,Male,8,15 to 19,332,Chewing tobacco,3,Rate,1992,0.039863,0.056448,0.027800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350545,5,Prevalence,522,Sudan,3,Both,27,Age standardized,332,Chewing tobacco,3,Rate,2015,0.029518,0.035685,0.024255
350546,5,Prevalence,522,Sudan,3,Both,27,Age standardized,332,Chewing tobacco,3,Rate,2016,0.029855,0.036004,0.024500
350547,5,Prevalence,522,Sudan,3,Both,27,Age standardized,332,Chewing tobacco,3,Rate,2017,0.029768,0.035934,0.024428
350548,5,Prevalence,522,Sudan,3,Both,27,Age standardized,332,Chewing tobacco,3,Rate,2018,0.029760,0.035796,0.024462
350549,5,Prevalence,522,Sudan,3,Both,27,Age standardized,332,Chewing tobacco,3,Rate,2019,0.029752,0.035857,0.024318

In [12]:
ser = df['val']
ser

0         0.038740
1         0.011356
2         0.039253
3         0.011516
4         0.039863
            ...
350545    0.029518
350546    0.029855
350547    0.029768
350548    0.029760
350549    0.029752
Name: val, Length: 350550, dtype: float64

In [13]:
# obliczanie Å›redniej

np.mean(ser)

0.020178816871399226

In [14]:
#obliczanie mediany 

np.median(ser)

0.0048691325

In [15]:
#Odchylenie standardowe

np.std(ser)

0.049593893684802264

In [16]:
#Wariancja 

np.var(ser)

0.00245955429081947

In [17]:
ser2 = df['lower']

ser2

0         0.027147
1         0.007779
2         0.027608
3         0.007906
4         0.027800
            ...
350545    0.024255
350546    0.024500
350547    0.024428
350548    0.024462
350549    0.024318
Name: lower, Length: 350550, dtype: float64

In [18]:
#Koleracja

correlation = np.corrcoef(ser,ser2) [0,1]
print(correlation)

0.9780038085580645

In [19]:
#Kowariancja 

covariance = np.cov(ser,ser2) [0,1]
covariance

0.0016552467290792375